@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Lora', serif;
}

body{
    background-color: #001f4b; /*https://colorpalettes.net/color-palette-4419/*/
    color: #04BBEC;
    max-width: 1100px;
    margin: auto;
}

.pcontador, .plafazeres {
    text-align: center;
    font-size: 40px;
    margin: 20px 0 20px 0;
}

#counter {
    text-align: center;
    padding: 10px;
    margin: auto;
    border: 1px solid #04BBEC;
    max-width: 200px;
    border-radius: 100%;
}

#currentNumber {
    color: #04BBEC;
    padding: 14px;
    margin: 5px;
    border: 1px #04BBEC solid;
    border-radius: 100%;
}

.somar, .subtrair {
    color: #04BBEC;
    background-color: #001f4b;
    padding: 15px;
    margin: 5px;
    border: 1px #04BBEC solid;
    border-radius: 100%;
    font-size: 14px;
}

.ptext {
    font-size: 18px;
    text-align: justify;
    padding: 10px 25px 10px 30px;
    background-color: #04BBEC;
    color: #001f4b;
}

.linkptext {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.formlistafazeres {
    text-align: center;
    max-width: 800px;
    margin: auto;   
}

.inputlistafazeres, .buttontarefa {
    background-color: #04BBEC;
    font-family: 'Lora', serif;
    font-size: 15px;
    color: #001f4b;
}

.lafazeres {
    padding: 10px;
    margin: 10px 5px 10px 5px;
    font-size: 20px;
}

#listafazeres {
    border: none;
    font-size: 18px;
    padding: 5px;
    margin: 10px 5px 10px 5px;
}

.buttontarefa {
    padding: 7px;
    border: none;
    margin: 8px 5px 8px 5px;
}

fieldset {
    border-color: #04BBEC;
}
.stylefieldset {
    text-align: center;
    max-width: 800px;
    margin: auto;
    margin-top: 10px;
}

.legendfiedset {
    font-size: 20px;
}

[type="checkbox"]:checked + .tarefa {
    text-decoration: line-through; /* Cria um risco no meio do texto */
    text-decoration-color: #04BBEC;
}

